/*light color: e5ffff
header: 82ada9
normal: b2dfdb
dark: 263238
dash-lighter: b6b8c3
*/

html {
    box-sizing: border-box;
}
*, *:before, *:after {
    box-sizing: inherit;
}
body {
    margin: 0;
    padding: 0;
    font-family: 'Smooch Sans', sans-serif;
    font-size: 1.5rem;
    line-height: 1.15;
}
header {
    background: #82ada9;
    justify-content: start;
}
h1 {
    line-height: 1;
}
h1, h2 {
    font-family: 'Lemonada', cursive;
    font-weight: 300;
    margin: 0;
}
h3 {
    margin-bottom: 0;
}
.item-details h3 ~ p  {
    margin: 0;
}
.item-details h3 + p {
    font-style: italic;
}
.divider > section {
    border-bottom: 1px dashed #b6b8c3;
    padding: 25px 0;
}
.divider > section:last-of-type {
    border-bottom: none;
}
.header-container + .header-item {
    margin: auto;
}
.content-wrap {
    max-width: 900px;
    width: 85%;
    margin: 0 auto;
    padding: 60px 0;
}
/*header*/
.header-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.header-item img {
    max-width: 325px;
}

.header-item {
    padding: 10px;
}


/*education*/
.education {
    background: #e5ffff;
}
.school-date {
    display: flex;
    border-bottom: dashed 1px;
    align-items: center;
    flex-wrap: wrap;
}
.school-date h3 ~ p {
    margin-bottom: 0;
    font-style: italic;
}
.education h2 ~ p {
    margin: 0;
}
/*skills*/
.skills {
    /*background: #e8eaff;*/
}
/*work experience*/
.work-experience {
    background: #e8eaff;
}

/*footer*/
footer {
    background: #82ada9;
}
.footer-container {
    display: grid;
    grid-template-columns: repeat(3, 100px);
    justify-content: space-evenly;
}
.footer-item {
    padding-top: 15px;
}
.footer-item a {
    color: #263238;
    padding: 10px;
}
.footer-item a:hover {
    color: #b2dfdb;
}

@media screen and (max-width: 699px) {
    .header-item {
        flex: 1 0 350px;
    }

}
@media screen and (min-width:700px) {
    footer {
        text-align: center;
    }
    .school-date {
        justify-content: space-between;
    }

    .work-item {
        display: grid;
        grid-template-columns: 1fr 2fr;
        column-gap: 10px;
    }
    .work-summary {
        padding-top: 10px;
    }
    .footer-container {
        justify-content: space-evenly;
    }
    .header-container {
        flex-wrap: nowrap;
        padding: 0;
        align-items: center;
    }
    .header-item {

    }

}

